.form-input {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.task-input {
  height: 40px;
  margin: 10px;
  outline: none;
  border: 2px solid purple;
}

.task-add-button {
  width: 80px;
  height: 35px;
  margin: 10px;
  color: white;
  background-color: blue;
  border-radius: 2px solid red;
}

@media only screen and (max-width: 678px) {
  .task-input {
    height: 30px;
    margin: 6px;
    outline: none;
    border: 1.2px solid purple;
  }

  .task-add-button {
    width: 65px;
    height: 28px;
    margin: 6px;
    color: white;
    background-color: blue;
    border-radius: 1.1px solid red;
    font-size: 10px;
  }
}

@media only screen and (min-width: 678px) and (max-width: 1024px) {
  .task-input {
    height: 35px;
    margin: 8px;
    outline: none;
    border: 1.8px solid purple;
  }

  .task-add-button {
    font-size: 12px;
    width: 70px;
    height: 30px;
    margin: 8px;
    color: white;
    background-color: blue;
    border-radius: 1.8px solid red;
  }
}
