.element-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.elemnt {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.completed-container {
  background-color: green;
}

.uncompleted-container {
  background-color: red;
  display: flex;
}

.checkBoxIcon {
  transform: scale(1.5);
}
.deleteicon {
  font-size: 35px;
}

.task-name {
  color: aliceblue;
  font-size: 24px;
}
